.section-menu {
    background-color: antiquewhite;
    height: 100px;
    width: auto;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Añadir posición relativa */
}

.image-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem; /* Tamaño del texto */
    text-align: center;
    position: absolute; /* Añadir posición absoluta */
    color: black;
    left: 50%; /* Centrar horizontalmente */
    top: 50%; /* Centrar verticalmente */
    transform: translate(-50%, -50%); /* Ajustar la posición para centrar */
}

.image-section {
    height: 100%; /* Ajusta la altura de la imagen al tamaño del div */
    width: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el área del div */
}

body {
    background-image: url("../img/background.jpg");
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
footer{ 
    position: fixed;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    bottom: 0;
}
.header-title {
    background-color:burlywood; /* Color de fondo llamativo */
    padding: 15px;
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}
